
<!-- 
#
# TEMPLATE: GROUPS MANAGER
#
# -->
<template name="groups_manager">

	{{> preloader}}
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->
		
		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
					
					<div class="col-md-8">
						
						<!--
							URL SCHEMA:
							skyrooms.io/meet/andrewnormore956/room1
							skyrooms.io/meet/andrewnormore956/room2
							skyrooms.io/meet/andrewnormore956/tech-support
						-->
						
						<div class="row">
						
							<div class="col-lg-8">
								<div class="hpanel hgreen ">
									<div class="panel-body">
										
										<form class="form-horizontal create_skyroom" id="">
										
											<div class="form-group">
												<label class="col-sm-2 control-label"></label>
												<div class="col-sm-10">
													
													{{#if meta_group_image}}
														{{#with meta_group_image}}
															<div class="imageUploadPreview imageUploadPreview">
																<img alt="logo" class="img-circle m-b m-t-md" src="{{content}}"  style="height:205px; width:205px;" />
															</div>
														{{/with}}
													{{else}}
													
														<div class="imageUploadPreview imageUploadPreview">
															<img alt="logo" class="img-circle m-b m-t-md" src="/images/meeting-default.jpg"  style="height:205px; width:205px;" />
														</div>
													
													{{/if}}
													
												</div>
											</div>
											<div class="hr-line-dashed"></div>
											
											<div class="form-group">
												<label class="col-sm-2 control-label">Group Logo</label>
												<div class="col-sm-10">
												
													<input id="fileInput" name="fileInput" class="form-control input-md"  type="file" />
													
												</div>
											</div>
											<div class="hr-line-dashed"></div>
										
											<!-- group ID -->
											{{#if paramRoomId}}
													{{#with paramRoomId}}
														<div class="form-group">
															<label class="col-sm-2 control-label">Group ID</label>
															<div class="col-sm-10">
																
																<input type="text" name="the_group_id" class="form-control" required="" disabled value="{{_id}}" />
																<small>Internal Group ID</small>
																
															</div>
														</div>
														<div class="hr-line-dashed"></div>
													{{/with}}
												{{else}}
												<input type="hidden" name="the_group_id" class="form-control" required="" disabled value="new" />
											{{/if}}
											<!-- -->
		
											<!-- group Name -->
											<div class="form-group">
												<label class="col-sm-2 control-label">Group Title</label>
												<div class="col-sm-10">
													
													{{#if paramRoomId}}
														{{#with paramRoomId}}
															<input type="text" name="title" class="form-control" placeholder="Example Group" required="" disabled value="{{title}}" />
															<small>Found at /group/title</small>
														{{/with}}
													{{else}}
														<input type="text" name="title" class="form-control" placeholder="Example Group" required="" />
														<small>Found at /group/title</small>
													{{/if}}
													
												</div>
											</div>
											<div class="hr-line-dashed"></div>
											<!-- -->
											
											<!-- Description -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Description of Group</label>
													<div class="col-sm-10">
														
														{{#if paramRoomId}}
															{{#with paramRoomId}}
																<input type="text" name="content" class="form-control" placeholder="Example Room" required="" value="{{content}}" />
															{{/with}}
														{{else}}
															<input type="text" name="content" class="form-control" placeholder="Example Room" required="" />
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
											<!-- -->
											
											
											<!-- Type -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Public or Unlisted?</label>
													<div class="col-sm-10">
														<select class="form-control m-b" name="meta_listing" id="meta_listing" required="">
															<option value="public">Public</option>
															<option value="private">Unlisted</option>
														</select>
														
														{{#if meta_listing}}
															{{#with meta_listing}}
																<script>
																	$("#meta_listing").val('{{content}}');
																</script>
															{{/with}}
														{{else}}
														
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
											<!-- -->
											
											<div class="form-group">
												<div class="col-sm-10 col-sm-offset-2">														
												
													{{#if paramRoomId}}
														{{#with paramRoomId}}
															<button type="submit" class="btn btn-success">
																<i class="fa fa-check-square-o" aria-hidden="true"></i> Update Group
															</button>
															<div id="groups_delete" class="btn btn-danger">
																<i class="fa fa-trash" aria-hidden="true"></i> Delete Group
															</div>
														{{/with}}
													{{else}}
														<button type="submit" class="btn btn-success">
															<i class="fa fa-check-square-o" aria-hidden="true"></i> Create Group
														</button>
													{{/if}}
													
													<a href="/groups" class="btn btn-danger2 pull-right" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
													
												</div>
											</div>
										
										</form>
										
									</div>
									
								</div>
							</div>
							
					
						</div>
					
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
		


</template>
