
<!-- 
#
# TEMPLATE: GROUPS MANAGER
#
# -->
<template name="groups_manager">

	{{> preloader}}
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->
		
		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
					
					<div class="col-md-8">
						
						<!--
							URL SCHEMA:
							skyrooms.io/meet/andrewnormore956/room1
							skyrooms.io/meet/andrewnormore956/room2
							skyrooms.io/meet/andrewnormore956/tech-support
						-->
						
						<div class="row">
						
							<div class="col-lg-12">
								<div class="hpanel hgreen ">
									<div class="panel-body">
										
										{{#with groups}}
											<form class="form-horizontal create_skyroom" id="" autocomplete="off">
											
												<div class="form-group">
													<label class="col-sm-2 control-label"></label>
													<div class="col-sm-10">
														
														{{#if group_image}}
															<img alt="logo" class="img-circle m-b " src="{{group_image}}" style="width:205px; height:205px;"/>
														{{else}}
															<img alt="logo" class="img-circle m-b" src="/images/meeting-default.jpg" style="width:205px; height:205px;"/>
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label">Group Logo</label>
													<div class="col-sm-10">
													
														<input id="fileInput" name="fileInput" class="form-control input-md"  type="file" />
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
											
												<!-- group ID -->
												{{#if the_group_id}}
													<div class="form-group">
														<label class="col-sm-2 control-label">Group ID</label>
														<div class="col-sm-10">
															
															<input type="text" name="the_group_id" class="form-control" required="" disabled value="{{the_group_id}}" />
															<small>Internal Group ID</small>
															
														</div>
													</div>
													<div class="hr-line-dashed"></div>
												{{else}}
													<input type="hidden" name="the_group_id" class="form-control" required="" disabled value="new" />
												{{/if}}
												<!-- -->
			
												<!-- group Name -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Group Title</label>
													<div class="col-sm-10">
														
														{{#if the_group_title}}
															<input type="text" name="title" class="form-control" placeholder="Example Group" required="" disabled value="{{the_group_title}}" />
															<small>Found at /group/title</small>
														{{else}}
															<input type="text" name="title" class="form-control" placeholder="Example Group" required="" />
															<small>Found at /group/title</small>
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<!-- -->
												
												<!-- Address or Business Location -->
													<div class="form-group">
														<label class="col-sm-2 control-label">Address or Business Location</label>
														<div class="col-sm-10">
															
															{{#if the_group_location}}
																<input type="text" class="form-control the_group_location" name="the_group_location" value="{{the_group_location}}" placeholder="Work Location">
															{{else}}
																<input type="text" class="form-control the_group_location" name="the_group_location" value="" placeholder="Work Location">
															{{/if}}
															
														</div>
														<p>{{the_group_location_lat}},{{the_group_location_lng}}</p>
													</div>
													<div class="hr-line-dashed"></div>
												<!-- -->
												
												<!-- Public Phone -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Public Phone Number (1800, etc)</label>
													<div class="col-sm-10">
														
														{{#if the_group_phone}}
															<input type="text" class="form-control the_group_phone" name="the_group_phone" value="{{the_group_phone}}" placeholder="Phone Number">
														{{else}}
															<input type="text" class="form-control the_group_phone" name="the_group_phone" value="" placeholder="Phone Number">
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<!-- -->
												
												<!-- Public Email Address -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Public Email Address</label>
													<div class="col-sm-10">
														
														{{#if the_group_email}}
															<input type="text" class="form-control the_group_email" name="the_group_email" value="{{the_group_email}}" placeholder="Email Address">
														{{else}}
															<input type="text" class="form-control the_group_email" name="the_group_email" value="" placeholder="Email Address">
														{{/if}}
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<!-- -->
												
												<!-- Description -->
												<div class="form-group">
													<label class="col-sm-2 control-label">About this Group</label>
													<div class="col-sm-10">
													
														
														{{#if the_group_content}}
															<textarea id="group_description" cols="40" rows="22" style="width:100%;" >{{the_group_content}}</textarea>
														{{else}}
														<textarea id="group_description" cols="40" rows="22" style="width:100%;" ></textarea>
														{{/if}}
														
														<script>
															
															setTimeout(function(){
																// TinyMCE has to be done this way for compatibilty reasons. :/
																tinymce.EditorManager.editors = []; //we need to remove the old instances. 
																
																//Set "About" section to a TinyMCE editor.
																tinymce.init({
																  selector: 'textarea#group_description',
																  element_format: "html",
																  remove_linebreaks : true,
																  convert_newlines_to_brs: true,
																  skin_url: '/packages/teamon_tinymce/skins/lightgray',
																  menubar: false,
																  statusbar: false,
																  toolbar: 'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist',
																  maxLength : 600
																});
															},1000);
															
														</script>
														
													</div>
												</div>
												<div class="hr-line-dashed"></div>
												<!-- -->
												
												
												<!-- Type -->
													<div class="form-group">
														<label class="col-sm-2 control-label">Public or Unlisted?</label>
														<div class="col-sm-10">
															<select class="form-control m-b" name="group_listing" id="group_listing" required="">
																<option value="public">Public</option>
																<option value="private">Unlisted</option>
															</select>
															
															{{#if group_listing}}
																{{#with group_listing}}
																	<script>
																		$("#group_listing").val('{{content}}');
																	</script>
																{{/with}}
															{{else}}
															
															{{/if}}
															
														</div>
													</div>
													<div class="hr-line-dashed"></div>
												<!-- -->
												
												<div class="form-group">
													<div class="col-sm-10 col-sm-offset-2">														
													
														{{#if the_group_id}}
															<button type="submit" class="btn btn-success">
																<i class="fa fa-check-square-o" aria-hidden="true"></i> Update Group
															</button>
															<div id="groups_delete" class="btn btn-danger">
																<i class="fa fa-trash" aria-hidden="true"></i> Delete Group
															</div>
														{{else}}
															<button type="submit" class="btn btn-success">
																<i class="fa fa-check-square-o" aria-hidden="true"></i> Create Group
															</button>
														{{/if}}
														
														<a href="/groups" class="btn btn-danger2 pull-right" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
														
													</div>
												</div>
											
											</form>
										{{/with}}
										
									</div>
									
								</div>
							</div>
							
					
						</div>
					
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
		


</template>
