<!-- 
#
# TEMPLATE: colleagues
#
# -->
<template name="colleagues">

	{{> preloader}}
	
	<body class="fixed-sidebar">

		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">	
		
			<div class="content animate-panel">
				<div class="row">
					
					<div class="content animate-panel">		
					
						<div class="col-md-8">
							
							<div class="row">
							
								<div class="row">
									<div class="col-lg-12">
										<div class="hpanel">
											<div class="panel-body">
												<div class="input-group">
													<input class="form-control" type="text" placeholder="Search for people by name or email">
													<div class="input-group-btn">
														<button class="btn btn-default"><i class="fa fa-search"></i></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
							</div>
							
							<div class="row">
							
								{{#each people}}
										<div class="col-lg-3">
											<div class="hpanel hgreen">
												<div class="panel-body">
													
													<a href="/people/{{profile.username}}">
														{{#if profile.avatar}}
															<center>
																<img alt="logo" class="img-circle m-b" src="{{profile.avatar}}" width="100%" style="width:100%; height:194px;"  />
															</center>
														{{else}}
															<center>
																<img alt="logo" class="img-circle m-b" src="/images/default.jpg" width="100%" style="width:100%; height:194px;" />
															</center>
														{{/if}}
													</a>
													
													<h3>
														<center>
															<a href="/people/{{profile.username}}">
																{{profile.name_first}}
																<br />
																{{profile.name_last}}
															</a>
														</center>
													</h3>
													{{#if profile.location}}
														<div class="text-muted font-bold m-b-xs">Location</div>
													{{/if}}
													
													<p style="display:none;">
														SkyRooms - Test user
													</p>
													
													<!-- View Desk -->
													<a href="/people/{{profile.username}}"  class="btn btn-primary btn-block btn-sm">
														<i class="fa fa-id-card" aria-hidden="true"></i> View Desk
													</a>
													
													{{#if noColleagueStatus "notFound"}}
														<form>
															<input type="hidden" name="user_id" value="{{_id}}" />
															<input type="hidden" name="action" value="add" />
															<button type="submit" class="btn btn-info btn-block btn-sm">
																<i class="fa fa-handshake-o" aria-hidden="true"></i> Add Colleague
															</button>
														</form>
													{{else}}
														
														{{#each colleagueStatus}}
														
															{{#if checkStatus "accepted"}}
																<form>
																	<input type="hidden" name="post_id" value="{{_id}}" />
																	<input type="hidden" name="owner_id" value="{{owner_id}}" />
																	<input type="hidden" name="action" value="remove" />
																	<button type="submit" class="btn btn-danger btn-block btn-sm">
																		<i class="fa fa-handshake-o" aria-hidden="true"></i> Remove Colleague
																	</button> 
																</form>
															{{/if}}
															{{#if checkStatus "request"}}
																<form>
																	<input type="hidden" name="post_id" value="{{_id}}" />
																	<input type="hidden" name="parent_id" value="{{parent_id}}" />
																	<input type="hidden" name="title" value="{{title}}" />
																	<input type="hidden" name="action" value="accept" />
																	<button type="submit" class="btn btn-success btn-block btn-sm">
																		<i class="fa fa-handshake-o" aria-hidden="true"></i> Accept
																	</button>
																</form>
															{{/if}}
															{{#if checkStatus "waiting"}}
																<form>
																	<input type="hidden" name="post_id" value="{{_id}}" />
																	<input type="hidden" name="parent_id" value="{{parent_id}}" />
																	<input type="hidden" name="owner_id" value="{{owner_id}}" />
																	<input type="hidden" name="action" value="cancel" />
																	<button type="submit" class="btn btn-warning btn-block btn-sm">
																		<i class="fa fa-handshake-o" aria-hidden="true"></i> Cancel Request
																	</button>
																</form>
															{{/if}}
														{{/each}}
														
													{{/if}}
												
												
													
												</div>
												
											</div>
										</div> 
								{{/each}}
						
							</div>
						
						</div>
						
						<!-- ADS CONTAINER -->
						<div class="col-md-4">
					
							<div class="col-lg-12">
								<div class="hpanel hblue">
									<div class="panel-body">
									
										<center>
									
											<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
											<!-- Sky2: Large Rectangle -->
											<ins class="adsbygoogle"
												 style="display:inline-block;width:336px;height:280px"
												 data-ad-client="ca-pub-5191331981474706"
												 data-ad-slot="2816270978"></ins>
											<script>
											(adsbygoogle = window.adsbygoogle || []).push({});
											</script>
											
										</center>

									</div>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="hpanel hblue">
									<div class="panel-body">
									
										<center>
										
											<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
											<!-- Sky2: Skyscraper -->
											<ins class="adsbygoogle"
												 style="display:inline-block;width:300px;height:600px"
												 data-ad-client="ca-pub-5191331981474706"
												 data-ad-slot="1339537771"></ins>
											<script>
											(adsbygoogle = window.adsbygoogle || []).push({});
											</script>
											
										</center>
										
									</div>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="hpanel hblue">
									<div class="panel-body">
									
										<center>
										
											<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
											<!-- Sky2: Large Rectangle -->
											<ins class="adsbygoogle"
												 style="display:inline-block;width:336px;height:280px"
												 data-ad-client="ca-pub-5191331981474706"
												 data-ad-slot="2816270978"></ins>
											<script>
											(adsbygoogle = window.adsbygoogle || []).push({});
											</script>
											
										</center>
										
									</div>
								</div>
							</div>
							
						</div>	
						<!-- ADS CONTAINER -->
							
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
	
	</body>

</template>

