
<template name="landing">
	
	{{> preloader}}
	
	<nav class="navbar navbar-default" style="margin-bottom:0px">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="">
					<img class="landing-logo" src="/images/skyrooms-logo.png" height="40px" />
				</a>
				<div class="brand-desc">
					
				</div>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a class="page-scroll" href="/login">Login</a></li>
					<li><a class="page-scroll" page-scroll href="/register">Register</a></li>
				</ul>
			</div>
			
		</div>
	</nav>

	<header id="page-top" style="padding:0px 0 30px 0; margin-bottom:0px;">
		<div class="container">
			<div class="heading">
			
				<div class="col-md-6">
				
					<img src="/images/skyrooms-virutal-offices-for-business.png" width="100%" alt="SkyRooms Virtual Offices for Business" />
					<h1>
						SkyRooms Virtual Offices for Business
					</h1>
					<h3>Professional Business Tools for your Organziation presented in a familiar way.</h3>
					<p>&nbsp;</p>
					{{#if currentUser}}
						<p>
							<a href="/desk" class="btn btn-lg btn-info">
								<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
								My Desk & Account
							</a>
						</p>
						<p>
							<a href="#" class="btn btn-lg btn-success">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
								Logout
							</a>
						</p>
					{{else}}
						<div class="row">
							<div class="col-md-6">
								<p>
									<a href="/login" class="btn btn-lg btn-info btn-block">
										<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
										Login
									</a>
								</p>
								<p>
									<a href="/register" class="btn btn-lg btn-success btn-block">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
										FREE Sign Up
									</a>
								</p>
							</div>
							<div class="col-md-6">
								<p>
									<a href="https://www.skyrooms.io/resume/andrewnormore2981" class="btn btn-lg btn-warning2 btn-block">
										<i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;
										View Sample Resume
									</a>
								</p>
								
								
								<p>
									<a href="https://www.skyrooms.io/meet/AndrewNormore2981/demo" class="btn btn-lg btn-danger2 btn-block" >
										<i class="fa fa-caret-square-o-right" aria-hidden="true"></i>&nbsp;&nbsp;
										Try a Demo Meeting
									</a>
								</p>
							</div>
						</div>
					{{/if}}
					
				</div>
				
				<div class="col-md-6">
				
					
				
					<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/KCvsAsDb3lE' frameborder='0' allowfullscreen></iframe></div>
					<p>&nbsp;</p>
					<center>
					<h3>Get SkyRooms on all Devices!</h3>
						
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-android" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-apple" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-windows" style="font-size:40px;"></i>
						</a>
						
					</center>
					
				</div>
				
			</div>
		</div>
		
	</header>
	<section style="">
	
		<div class="row text-center">
			<div class="col-lg-12">
				<h1><b><span class="text-success">Discover</span> SkyRooms Features:</b></h1>
				<h3>We're building all the features you need from the ground up at a great price.</h3>
				<hr />
			</div>
		</div>
	
		<div class="container animated bounceIn">
		<div class="row">
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-id-card-o icon-big text-success"></i></h4>
					<h4>Professionals Social Network</h4>
					<h5>View business cards and resumes. Connect with Colleagues.</h5>
				</center>
			</div>
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-pie-chart icon-big text-success"></i></h4>
					<h4>Business Management Tools</h4>
					<h5>All the modules your digital company needs to be success. Time tested features that you need.</h5>
				</center>
			</div>
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-users icon-big text-success"></i></h4>
					<h4>Next Generation Virtual Conferences</h4>
					<h5>Unlimited rooms, attendees, desktop sharing, meeting recording. All the features you'd expect for a great price.</h5>
				</center>
			</div>
		</div>
		</div>
	</section>
	

	<section id="features" class="bg-light">
		<div class="container">
			
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">Professionals</span> Social Network:</b></h1>
					<h3>Use familiar social networking tools to assist your organizations communication, projects, and team work.</h3>
					<hr />
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-user text-success icon-big"></i></h4>
					<h4>Your Desk</h4>
					<h5>It starts by posting status updates on your own, or a colleagues desk</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-commenting-o text-success icon-big"></i></h4>
					<h4>Office Buzz</h4>
					<h5>Imagine a feed of information that was about your business and tasks, with out the 'extra stuff' and distractions</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-id-card-o text-success icon-big"></i></h4>
					<h4>Business Cards</h4>
					<h5>Get an at a glance understanding of your colleagues and prospects current information</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-graduation-cap text-success icon-big"></i></h4>
					<h4>Resumes</h4>
					<h5>Understand fully who you're working by viewing their entire resume during a meeting or project</h5>
				</div>
			</div>
			

		</div>
	</section>
	
	
	<section id="features" class="bg-dark">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">Business Management</span> Tools:</b></h1>
					<h3>Use the tools your business needs at an afforable price. Free to try for your growing organization.</h3>
					<hr />
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-folder-open text-success icon-big"></i></h4>
					<h4>Project Management</h4>
					<h5>Create departments, projects and tasks. Assign your group members to work and get real time reports on progress.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-universal-access text-success icon-big"></i></h4>
					<h4>Leads Manager</h4>
					<h5>Every business needs a place to store leads, and we know how to do it right. Our leads manager is really good, try it for free.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-ticket text-success icon-big"></i></h4>
					<h4>Customer Service Manager</h4>
					<h5>Have customers submit tickets so your staff can provide superior customer service, with out customers falling through the cracks. Try it for free.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-file-text-o text-success icon-big"></i></h4>
					<h4>Human Resources Manager</h4>
					<h5>On board your new hires with company policies, sign documents, and welcome them to the group properly and formerly. Try it for free.</h5>
				</div>
			</div>
			

		</div>
	</section>
	
	<section id="features" class="bg-light">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">Next Generation</span> Video Conferences:</b></h1>
					<h3>With our new technology we can offer unlimted meeting spaces to every one. Welcome to the future.</h3>
					<hr />
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-chat text-success icon-big"></i></h4>
					<h4>Virtual Meetings</h4>
					<h5>Connect staff members or friends in a virtual conference room, share video and files.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-globe text-success icon-big"></i></h4>
					<h4>Webinars</h4>
					<h5>Run webinars that only you may speak in, locking the screen to your members.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-calendar text-success icon-big"></i></h4>
					<h4>Calendar Sync</h4>
					<h5>Sync with your calendar to schedule meetings with colleagues.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-video text-success icon-big"></i></h4>
					<h4>Record Meetings</h4>
					<h5>Run your meeting and save as an MP4, publishes to YouTube for later use.</h5>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-desktop text-success icon-big"></i></h4>
					<h4>Desktop Sharing</h4>
					<h5>Share your entire desktop or a specific window.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-phone-square text-success icon-big"></i></h4>
					<h4>VOIP Communication</h4>
					<h5>No more messy 1800 call-in. Simply join the meeting and hear every one.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-airplay text-success icon-big"></i></h4>
					<h4>Works on All Browsers & Devices</h4>
					<h5>No need to download or install confusing software. SkyRooms works in the browser.</h5>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
					<h4>Faster Technology</h4>
					<h5>WebRTC means there's less 'stuff' in the middle to 'process'. Browser to Browser Mesh Networking speeds up the communication line.</h5>
				</div>
			</div>

		</div>
	</section>
	
	
	
	<section id="faq" class="bg-light">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">Frequently</span>  Asked Questions:</b></h1>
					<h3>Here are the compelling reasons you should switch to SkyRooms ASAP.</h3>
					<hr />
				</div>
			</div>
		
			<div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
				<div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> Why use SkyRooms instead of the one services already out there?
						</h3>
                    </a>
                    <div id="q1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <hr>
						<h3 class="text-info">Don't waste your time signing up for multiple services, paying separate invoices, seperate support desks, etc. SkyRooms brings you under one roof and has unique features.</h3>
                    </div>
                </div>
				
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> What makes this different from LinkedIn or Facebook?
						</h3>
                    </a>
                    <div id="q2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <hr />
						<h3 class="text-info">We're glad you made the distinction we feel so similar to billion dollar works! We tried to mimic the design of a social network and disguise business tools inside of it, brining a natural feel to the platform. Come try and see for yourself.</h3>
					</div>
				</div>
				
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> Why not just use Skype, or some other chat program?
						</h3>
                    </a>
                    <div id="q3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
						<hr />
                        <h3 class="text-info">All our products are consolodated. No more adding contacts when people come or go. Manage your entire companies contact directory easily, and let your staff connect with one another on one platform.</h3>
					</div>	
                </div>
				
            </div>
			
		</div>
	</section>
	
	<section id="pricing_users" class="bg-dark">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">User Pricing</span></b></h1>
					<h3>Start your SkyRooms account for free, and grow based on your organizations size.</h3>
					<hr />
				</div>
			</div>
		
			<div class="col-sm-3">
				<div class="hpanel plan-box hyellow active">
					<div class="panel-heading hbuilt text-center">
						<h2 class="font-bold">FREE</h2>
						<h4> 1-5 Users per group</h4>
					</div>
					<div class="panel-body">
						<p class="">
							Come and join for free, connect with your colleagues for group video and audio calls, as well as chat messenger
						</p> 

						<h3 class="font-bold">
							<center class="text-info">
								FREE
							</center>
						</h3>
						<h5>
							<center>
								For your growing organization
							</center>
						</h5>
						
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<div class="hpanel plan-box hblue active">
					<div class="panel-heading hbuilt text-center">
						<h2 class="font-bold">Hatchling</h2>
						<h4> 5-15 Users per group</h4>
					</div>
					<div class="panel-body">
						<p class="">
							Intended for the starting business, your team can have access for just $15-$45 a month.
						</p>

						<h3 class="font-bold">
							<center class="text-info">
								$2.99
							</center>
						</h3>
						<h5>
							<center>
								per group member, monthly
							</center>
						</h5>
						
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<div class="hpanel plan-box hgreen active">
					<div class="panel-heading hbuilt text-center">
						<h2 class="font-bold">Business</h2>
						<h4> 15-30 Users per group</h4>
					</div>
					<div class="panel-body">
						<p class="">
							Organizations at this level will find affordable pricing, ranging from $75-$150 a month.
						</p>

						<h3 class="font-bold">
							<center class="text-info">
								$4.99
							</center>
						</h3>
						<h5>
							<center>
								per group member, monthly
							</center>
						</h5>
						
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<div class="hpanel plan-box hred active">
					<div class="panel-heading hbuilt text-center">
						<h2 class="font-bold">Enterprise</h2>
						<h4> 30+ Users per group</h4>
					</div>
					<div class="panel-body">
						<p class="">
							Affordable enterprise pricing is available at SkyRooms starting at $270 a month. Contact us for more users and better pricing.
						</p>

						<h3 class="font-bold">
							<center class="text-info">
								$8.99
							</center>
						</h3>
						<h5>
							<center>
								per group member, monthly
							</center>
						</h5>
						
					</div>
				</div>
			</div>
		
		</div>
	</section>
	
	
	
	
	<section id="pricing_features" class="bg-light">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-success">Module Pricing</span></b></h1>
					<h3>Only pay for the features your organization needs.</h3>
					<hr />
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Social<br />Network</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Our social network is free for all seeking a haven for professionals. Come and join us at no cost.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Professional Social Network
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Easy, clean user interface
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Works on all devices
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									FREE
								</center>
							</h3>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Business Cards & Resume</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Create your profile for free, share it with others. This feature will alwasy be free for you.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Business Cards
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Resume Builder
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Free Forever
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									FREE
								</center>
							</h3>
							
						</div>
					</div>
				</div>
			
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Audio and Video Calling</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Ditch the old and expensive stuff, we're providing a ground breaking new way to communicate. For free.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> 1 Click Audio Calling
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> 1 Click Video Calling
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Group calls up to 10 users
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Desktop sharing
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> YouTube Share Sync
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									FREE
								</center>
							</h3>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Work Chat Messenger</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Come and join for free, connect with your colleagues for group video and audio calls, as well as chat messenger
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Contacts Manager
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Device Notifications
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Group Chats
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> File Sharing
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									FREE
								</center>
							</h3>
							
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row">
			
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Project Tasks <br />Manager</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Create departments, projects and tasks. Assign your group members to work and get real time reports on progress.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Departments
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Projects
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Tasks
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Real Time Reporting
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Morning Work Email
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Notifications
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							 
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Leads<br />Manager</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Every business needs a place to store leads, and we know how to do it right. Our leads manager is really good, try it for free.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<b>Features</b>
									</td>
								</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Submit Leads via API
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Tag leads with data
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Export to CSV
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Conversion Pixel Tracking
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> 3rd Party Pixel Fires
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Affiliate Management
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reports
										</td>
									</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$0.15
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									Per lead submit
								</center>
							</h4>
							<h5>
								<center>
									no group member fee
									<br />
									(first 100 leads are free!)
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Customer Service <br />Manager</h2>
						</div>
						<div class="panel-body">
							<p class="">
								Have customers submit tickets so your staff can provide superior customer service, with out customers falling through the cracks. Try it for free.
							</p>
							<table class="table">
								<thead>
									<tr>
										<td>
											<b>Features</b>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Ticket Management
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reports & Notifications
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Department Assignment
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Data tagging
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Auto Assign Keywords
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Ticket Statuses
										</td>
									</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$0.15
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									Per ticket submitted
								</center>
							</h4>
							<h5>
								<center>
									no group member fee
									<br />
									(first 100 tickets are free!)
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold">Human Resources<br />Manager</h2>
						</div>
						<div class="panel-body">
							<p class="">
								On board your new hires with company policies, sign documents, and welcome them to the group properly and formerly. Try it for free.
							</p>
							<table class="table">
								<thead>
									<tr>
										<td>
											<b>Features</b>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Store company policies and documents
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> New staff on boarding
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Sign documents
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Group welcome notifications
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reporting
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Manage departments
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Manage positions 
										</td>
									</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$1.99 
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
			</div>
		
		</div>
	</section>
	
</template>