
<template name="landing">
	
	{{> preloader}}
	
	<nav class="navbar navbar-default" style="margin-bottom:0px">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="">
					<img class="landing-logo" src="/images/skyrooms-logo.png" height="40px" />
				</a>
				<div class="brand-desc">
					
				</div>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a class="page-scroll" href="/login">Login</a></li>
					<li><a class="page-scroll" page-scroll href="/register">Register</a></li>
				</ul>
			</div>
			
		</div>
	</nav>

	<header id="page-top" style="padding:0px 0 30px 0; margin-bottom:0px;">
		<div class="container">
			<div class="heading">
			
				<div class="col-md-6">
				
					<img src="/images/skyrooms-virutal-offices-for-business.png" width="100%" alt="SkyRooms Virtual Offices for Business" />
					<h1>
						SkyRooms Virtual Offices for Business
					</h1>
					<h3>Professional Business Tools for your Organziation presented in a familiar way.</h3>
					<p>&nbsp;</p>
					{{#if currentUser}}
						<p>
							<a href="/desk" class="btn btn-lg btn-info">
								<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
								My Desk & Account
							</a>
						</p>
						<p>
							<a href="#" class="btn btn-lg btn-success">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
								Logout
							</a>
						</p>
					{{else}}
						<div class="row">
							<div class="col-md-6">
								<p>
									<a href="/login" class="btn btn-lg btn-info btn-block">
										<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
										Login
									</a>
								</p>
								<p>
									<a href="/register" class="btn btn-lg btn-success btn-block">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
										FREE Sign Up
									</a>
								</p>
							</div>
							<div class="col-md-6">
								<p>
									<a href="https://www.skyrooms.io/resume/andrewnormore2981" class="btn btn-lg btn-warning2 btn-block">
										<i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;
										View Sample Resume
									</a>
								</p>
								
								
								<p>
									<a href="https://www.skyrooms.io/meet/AndrewNormore2981/demo" class="btn btn-lg btn-danger2 btn-block" >
										<i class="fa fa-caret-square-o-right" aria-hidden="true"></i>&nbsp;&nbsp;
										Try a Demo Meeting
									</a>
								</p>
							</div>
						</div>
					{{/if}}
					
				</div>
				
				<div class="col-md-6">
				
					
				
					<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/WhghYX2RNDc' frameborder='0' allowfullscreen></iframe></div>
					<p>&nbsp;</p>
					<center>
					<h3>Get SkyRooms on all Devices!</h3>
						
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-android" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-apple" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-windows" style="font-size:40px;"></i>
						</a>
						
					</center>
					
				</div>
				
			</div>
		</div>
		
	</header>
	<section style="padding:0px 0 30px 0;">
		<div class="container animated bounceIn">
		<div class="row">
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-id-card-o icon-big text-success"></i></h4>
					<h4>Professionals Social Network</h4>
					<h5>View business cards and resumes. Connect with Colleagues.</h5>
				</center>
			</div>
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-pie-chart icon-big text-success"></i></h4>
					<h4>Business Management Tools</h4>
					<h5>Free business and project management tools, designed with the remote employee in mind.</h5>
				</center>
			</div>
			<div class="col-md-4">
				<center>
					<h4 class="m-t-lg"><i class="fa fa-users icon-big text-success"></i></h4>
					<h4>Next Generation Virtual Conferences</h4>
					<h5>Unlimited rooms, attendees, desktop sharing, meeting recording. All the features you'd expect — For Free</h5>
				</center>
			</div>
		</div>
		</div>
	</section>
	

	<section id="features" class="bg-light">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2><span class="text-success">Professionals</span> Social Network</h2>
					<h5>Use familiar social networking tools to assist your organizations communication, projects, and team work.</h5>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-user text-success icon-big"></i></h4>
					<strong>Your Desk</strong>
					<p>It starts by posting status updates on your own, or a colleagues desk</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-commenting-o text-success icon-big"></i></h4>
					<strong>Office Buzz</strong>
					<p>Imagine a feed of information that was about your business and tasks, with out the 'extra stuff' and distractions</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-id-card-o text-success icon-big"></i></h4>
					<strong>Business Cards</strong>
					<p>Get an at a glance understanding of your colleagues and prospects current information</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-graduation-cap text-success icon-big"></i></h4>
					<strong>Resumes</strong>
					<p>Understand fully who you're working by viewing their entire resume during a meeting or project</p>
				</div>
			</div>
			

		</div>
	</section>
	
	
	<section id="features" class="bg-dark">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2><span class="text-success">Business</span> Management Tools</h2>
					<h5>Our Project, Task and Calendar system allows your employees to work together and stay organized.</h5>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-folder-open text-success icon-big"></i></h4>
					<strong>Project Management</strong>
					<p>Connect staff members or friends in a virtual conference room, share video and files.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-check-square-o text-success icon-big"></i></h4>
					<strong>Task Check List</strong>
					<p>Run a 1 to 100,000 user webinar completely free.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-calendar text-success icon-big"></i></h4>
					<strong>Calendar Sync</strong>
					<p>Set deadlines for projects to see when tasks are due.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-list-ul text-success icon-big"></i></h4>
					<strong>Activity Log</strong>
					<p>Monitor your projects health. Be accountable for projects turning stale to focus your attention.</p>
				</div>
			</div>
			

		</div>
	</section>
	
	<section id="features" class="bg-light">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<h2><span class="text-success">Next Generation</span> Video Conferences</h2>
					<h5>With our new technology we can offer unlimted meeting spaces to every one. Welcome to the future.</h5>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-chat text-success icon-big"></i></h4>
					<strong>Virtual Meetings</strong>
					<p>Connect staff members or friends in a virtual conference room, share video and files.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-globe text-success icon-big"></i></h4>
					<strong>Webinars</strong>
					<p>Run a 1 to 100,000 user webinar completely free.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-calendar text-success icon-big"></i></h4>
					<strong>Calendar Sync</strong>
					<p>Sync with your calendar to schedule meetings with colleagues. We offer integrations to Moodle and Wordpress.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-video text-success icon-big"></i></h4>
					<strong>Record Meetings</strong>
					<p>Run your meeting and save as an MP4, publishes to YouTube for later use.</p>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-desktop text-success icon-big"></i></h4>
					<strong>Desktop Sharing</strong>
					<p>Share your entire desktop or a specific window.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="fa fa-phone-square text-success icon-big"></i></h4>
					<strong>VOIP Communication</strong>
					<p>No more messy 1800 call-in. Simply join the meeting and hear every one.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-airplay text-success icon-big"></i></h4>
					<strong>Works on All Browsers & Devices</strong>
					<p>No need to download or install confusing software. SkyRooms works in the browser.</p>
				</div>
				<div class="col-md-3">
					<h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
					<strong>Faster Technology</strong>
					<p>WebRTC means there's less 'stuff' in the middle to 'process'. Browser to Browser Mesh Networking speeds up the communication line.</p>
				</div>
			</div>

		</div>
	</section>
	
</template>