
<template name="landing">
	
	{{> preloader}}
	
	<nav class="navbar navbar-default" style="margin-bottom:0px">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="">
					<img class="landing-logo" src="/images/skyrooms-logo.png" height="40px" />
				</a>
				<div class="brand-desc">
					
				</div>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a class="page-scroll" href="/login">Login</a></li>
					<li><a class="page-scroll" page-scroll href="/register">Register</a></li>
				</ul>
			</div>
			
		</div>
	</nav>

	<header id="page-top" style="padding:0px 0 30px 0; margin-bottom:0px;">
		<div class="container">
			<div class="heading">
			
				<div class="col-md-6">
				
					<img src="/images/skyrooms-virutal-offices-for-business.png" width="100%" alt="SkyRooms Virtual Offices for Business" />
					<h1>
						SkyRooms Virtual Offices for Business
					</h1>
					<h3>Professional Business Tools for your Organization presented in a familiar way.</h3>
					<p>&nbsp;</p>
					{{#if currentUser}}
						<p>
							<a href="/desk" class="btn btn-lg btn-info">
								<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
								My Desk & Account
							</a>
						</p>
						<p>
							<a href="#" class="btn btn-lg btn-info">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
								Logout
							</a>
						</p>
					{{else}}
						<div class="row">
							<div class="col-md-6">
								<p>
									<a href="/login" class="btn btn-lg btn-info btn-block">
										<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;
										Login
									</a>
								</p>
								<p>
									<a href="/register" class="btn btn-lg btn-success btn-block">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;
										FREE Sign Up
									</a>
								</p>
							</div>
							<div class="col-md-6">
								<p>
									<a href="https://www.skyrooms.io/meet/AndrewNormore2981/demo" class="btn btn-lg btn-danger2 btn-block" >
										<i class="fa fa-caret-square-o-right" aria-hidden="true"></i>&nbsp;&nbsp;
										Try a Demo Meeting
									</a>
								</p>
							</div>
						</div>
					{{/if}}
					
				</div>
				
				<div class="col-md-6">
				
					<!-- YOUTUBE EMBED -->
					<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/KCvsAsDb3lE' frameborder='0' allowfullscreen></iframe></div>
					<p>&nbsp;</p>
					<center>
					<h3>Get SkyRooms on all Devices!</h3>
						
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-android" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-apple" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-windows" style="font-size:40px;"></i>
						</a>
						
					</center>
					
				</div>
				
			</div>
		</div>
		
	</header>
	
	
	

	<section id="pricing_features" class="bg-light">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-info">SkyRooms</span> Modules & Pricing</b></h1>
					<h3><u>Start for free</u>, only pay for what you need, scale affordably!</h3>
					<hr />
				</div>
			</div>
			
			<div class="row row_equalize_height">
			
				<!-- SOCIAL NETWORK -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hgreen active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-success">Team Social<br />Network</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Our social network is free for all seeking a haven for professionals. Come and join us at no cost.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Professional Social Network
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Easy, clean user interface
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Works on all devices
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> PC & Mac Application
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Android & iOS App
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Web Browser Access
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Ease users in to new software
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-success">
									FREE
								</center>
							</h3>
							<h4 class="">
								<center class="text-success">
									To all users
								</center>
							</h4>
							<h5>
								<center>
									Group membership determines features
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<!-- BUSINESS CARD & RESUME -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hgreen active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-success">Business Cards & Resume</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Create your profile for free, share it with others. This feature will always be free for you.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Business Cards
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Resume Builder
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Free Forever for All Users
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Print water mark free
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Send URL to browse
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Save as PDF
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-success">
									FREE
								</center>
							</h3>
							<h4 class="">
								<center class="text-success">
									To all users
								</center>
							</h4>
							<h5>
								<center>
									Build your profile and get hired.
									<br />
									Let others know your skills & education
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<!-- WORK CHAT MESSENGER -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hgreen active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-success">Work Chat Messenger</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Come and join for free, connect with your colleagues for group video and audio calls, as well as chat messenger
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Cross Device Messenger
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Contacts Manager
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Device Notifications
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Group Chats
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> File Sharing
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> No Contact Syncing!
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Easy and light weight
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-success">
									FREE
								</center>
							</h3>
							<h4 class="">
								<center class="text-success">
									To all users
								</center>
							</h4>
							<h5>
								<center>
									Communicate effectivley
								</center>
							</h5>
							
						</div>
					</div>
				</div>
			
				<!-- AUDIO AND VIDEO -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hgreen active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-success">Audio and Video Calling</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Ditch the old and expensive stuff, we're providing a ground breaking new way to communicate.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> 1 Click Audio Calling
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> 1 Click Video Calling
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Group calls up to 50+ users
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Desktop sharing
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> YouTube Share Sync
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> WebRTC Next Generation Technology!
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-success">
									FREE
								</center>
							</h3>
							<h4 class="">
								<center class="text-success">
									To all users
								</center>
							</h4>
							<h5>
								<center>
									Communicate effectivley
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<!-- LEADS MANAGER -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Leads<br />Manager</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Every business needs a place to store leads, and we know how to do it right. Our leads manager is really good, try it for free.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Submit Leads via API
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Tag leads with data
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Export to CSV
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Conversion Pixel Tracking
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> 3rd Party Pixel Fires
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Affiliate Management
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reports
										</td>
									</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-warning2">
									$2.99
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							 
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							<h5 class="text-warning2">
								<center>
									+ $0.15 Per lead submitted
								</center>
							</h5>
							
							
						</div>
					</div>
				</div>
				
				<!-- TICKET MANAGER -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Ticket <br />Manager</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Have customers submit tickets so your staff can provide superior customer service, with out customers falling through the cracks. Try it for free.
							</p>
							<table class="table">
								<thead>
									<tr>
										<td>
											<center>
											<b class="text-info">Features</b>
										</center>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Ticket Management
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reports & Notifications
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Department Assignment
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Data tagging
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Auto Assign Keywords
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Ticket Statuses
										</td>
									</tr>
								</tbody>
							</table>
							
							<h3 class="font-bold">
								<center class="text-warning2">
									$2.99
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							 
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							<h5 class="text-warning2">
								<center>
									+ $0.15 Per ticket submitted
								</center>
							</h5>
							
							
							
						</div>
					</div>
				</div>
			
				<!-- PROJECTS TASK -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Project <br />Manager</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Create departments, projects and tasks. Assign your group members to work and get real time reports on progress.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Departments
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Projects
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Tasks
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Real Time Reporting
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Morning Work Email
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Notifications
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							 
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				
				
				<!-- HUMAN RESOURCES -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Human <br />Resources</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								On board your new hires with company policies, sign documents, and welcome them to the group properly and formerly. Try it for free.
							</p>
							<table class="table">
								<thead>
									<tr>
										<td>
											<center>
											<b class="text-info">Features</b>
										</center>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Store company policies and documents
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> New staff on boarding
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Sign documents
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Group welcome notifications
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Reporting
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Manage departments
										</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-check-square-o"></i> Manage positions 
										</td>
									</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99 
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				
				
				
				<!-- SCHEDULER -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Employee<br />Schedules</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Imagine how easy it <i>should</i> be to schedule shifts. SkyRooms grants this wish with next generation schedules.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Easy to Create Schedules
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Shift Change Notifications
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Swap Shift Ability
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> New Hire Replacement
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Reporting
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Instantly Respond to Changes!
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99 
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<!-- BOOK KEEPING -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Book<br />Keeping</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Take pictures of receipts for digital storage. Generate reports and submit to your favorite tax reporting software.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Digital Receipt Management
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Reports
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Export to QuickBooks
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Invoice Builder
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Client Manager
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99 
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									After 5 Members
								</center>
							</h4>
							<h5>
								<center>
									per group member, monthly
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				<!-- EMAIL -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">Email & <br />Calendar</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Manage all your employees email with SkyRooms integrated Email solution. Truely all your tools in one box.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> You@YourDomain.com
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Notifications of new emails
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> All the features you'd expect 
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Integrated directly in to SkyRooms features
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Easy to manage
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Cheaper than most email providers
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$2.99 
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									For all members
								</center>
							</h4>
							
						</div>
					</div>
				</div>
				
				
				
				<!-- WHITE LABEL -->
				<div class="col-sm-3">
					<div class="hpanel plan-box hblue active">
						<div class="panel-heading hbuilt text-center">
							<h2 class="font-bold text-info">White<br />Label</h2>
						</div>
						<div class="panel-body equalize">
							<p class="">
								Need a custom and more private version of SkyRooms for your organization? We can do that for you.
							</p>
							<table class="table">
								<thead>
								<tr>
									<td>
										<center>
											<b class="text-info">Features</b>
										</center>
									</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> White Label
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Custom Brand Logo
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Web, Iphone, Android, Mac & PC Clients
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Dedicated Customer Support
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> No hosting required
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> At www.staff.yoursite.com
									</td>
								</tr>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i> Setup is simple
									</td>
								</tr>
								</tbody>
							</table>

							<h3 class="font-bold">
								<center class="text-info">
									$199.99
								</center>
							</h3>
							<h4 class="">
								<center class="text-info">
									Starting at
								</center>
							</h4>
							<h5>
								<center>
									Contact us for high volume pricing
								</center>
							</h5>
							
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</section>
	
	<section id="faq" class="bg-light">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-info">Pricing</span> Calculator</b></h1>
					<h3>Quickly determine how much you'll spend with SkyRooms</h3>
					<hr />
				</div>
			</div>
		
			<div class="hpanel panel-group" >
				<div class="panel-body">
                 
					<div class="form-group">
					

						
						
						<label class="col-sm-2 control-label">Select Modules</label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_free" checked disabled />
								<label class="font-bold text-info"><b>FREE Work Chat Messenger</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_free" checked disabled />
								<label class="font-bold text-info"><b>FREE Audio & Video Calling</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_leads">
								<label class="font-bold text-info"><b>Leads Manager</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_tickets">
								<label class="font-bold text-info"><b>Ticket Manager</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_pm">
								<label class="font-bold text-info"><b>Project Manager</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_hr">
								<label class="font-bold text-info"><b>Human Resources Manager</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_schedule">
								<label class="font-bold text-info"><b>Employee Scheduler</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_book">
								<label class="font-bold text-info"><b>Book Keeping</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_email">
								<label class="font-bold text-info"><b>Email & Calendar</b></label>
							</div>
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div class="checkbox checkbox-single checkbox-success">
								<input type="checkbox" id="module_white">
								<label class="font-bold text-info"><b>White Label</b></label> 
							</div>
						</div>

					
						<label class="col-sm-2 control-label">Group Members</label>
						<div class="col-sm-10">
							<input id="module_members" type="text" placeholder="" value="5" class="form-control input-lg m-b">
						</div>
						
						<label class="col-sm-2 control-label">Leads Submitted</label>
						<div class="col-sm-10">
							<input id="module_leads_submit" type="text" placeholder="" value="0" class="form-control input-lg m-b">
						</div>
						
						<label class="col-sm-2 control-label">Tickets Submitted</label>
						<div class="col-sm-10">
							<input id="module_tickets_submit" type="text" placeholder="" value="0" class="form-control input-lg m-b">
						</div>
						
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<button class="btn btn-success btn-lg" id="calculate">
								<i class="fa fa-calculator" aria-hidden="true"></i> Calculate
							</button>
						</div>
						
						
						<hr />
						
						<center>
							<h3 class="font-bold">Your monthly fee is...</h3>
							<h1>
								<span id="calc_total" class="text-success font-bold">FREE</span>
							</h1>
						</center>
						
						<center>
							<h4>Your annual fee is...</h4>
							<h4>
								<span id="calc_total_annual" class="text-success font-bold">FREE</span>
							</h4>
						</center>
						
						
						
					</div>
				 
                </div>
            </div>
			
		</div>
	</section>
	
	
	<section id="faq" class="bg-light">
		<div class="container">
		
			<div class="row text-center">
				<div class="col-lg-12">
					<h1><b><span class="text-info">Frequently</span>  Asked Questions:</b></h1>
					<h3>Here are the compelling reasons you should switch to SkyRooms ASAP.</h3>
					<hr />
				</div>
			</div>
		
			<div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
				<div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> Why does this look like a social network?
						</h3>
                    </a>
                    <div id="q1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <hr>
						<h3 class="text-info">No one wants to train their entire staff on how to use a new app. SkyRooms is designed to look like a social network because users are already trained to use them. This makes the transition to SkyRooms easy for employees and management, with minimal down time or training!</h3>
                    </div>
                </div>
				
				<div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> Why use SkyRooms instead of the one services already out there?
						</h3>
                    </a>
                    <div id="q2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <hr>
						<h3 class="text-info">Don't waste your time signing up for multiple services, paying separate invoices, seperate support desks, etc. SkyRooms brings you under one roof and has unique features.</h3>
                    </div>
                </div>
				
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> What makes this different from LinkedIn or Facebook?
						</h3>
                    </a>
                    <div id="q3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <hr />
						<h3 class="text-info">We're glad you made the distinction we feel so similar to billion dollar works! We tried to mimic the design of a social network and disguise business tools inside of it, bringing a natural feel to the platform. Come try and see for yourself.</h3>
					</div>
				</div>
				
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q4" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> Why not just use Skype, or some other chat program?
						</h3>
                    </a>
                    <div id="q4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
						<hr />
                        <h3 class="text-info">All our products are consolidated. No more adding contacts when people come or go. Manage your entire companies contact directory easily, and let your staff connect with one another on one platform.</h3>
					</div>	
                </div>
				
				<div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q5" aria-expanded="false" class="collapsed">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        <h3>
							<i class="fa fa-question-circle-o" aria-hidden="true"></i> What's the idea behind your pricing model?
						</h3>
                    </a>
                    <div id="q5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
						<hr />
                        <h3 class="text-info">We wanted to provide a way for new and small businesses to come online, for free. We like doing things for free.</h3>
						<h3 class="text-info">We have a small, solid core team of developers leveraging new technologies that make it much cheaper to provide enterprise level services.</h3>
						<h3 class="text-info">These savings are passed on to you, our new and loyal customers. We love you. We want to give you the best price, and so, we do!</h3>
					</div>	
                </div>
				
            </div>
			
		</div>
	</section>
	
	
	<footer id="page-bottom" style="padding:0px 0 30px 0; margin-bottom:0px;">
		<div class="container">
			<div class="heading">
			
				<div class="col-md-6">
				
					<img src="/images/skyrooms-virutal-offices-for-business.png" width="100%" alt="SkyRooms Virtual Offices for Business" />
					<h3>
						<center>
							SkyRooms Virtual Offices for Business
						</center>
					</h3>
					
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="https://www.skyrooms.io/group/skyrooms/article/privacy-policy-3e5678a5">Privacy Policy</a></li>
						<li><a href="https://www.skyrooms.io/group/skyrooms/article/terms-and-conditions-59e81255">Terms and Conditions</a></li>
					</ul>
					
				</div>
				
				<div class="col-md-6">
				
					<center>
					<h3>Get SkyRooms on all Devices!</h3>
						
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-android" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-apple" style="font-size:40px;"></i>
						</a>
						<a href="" class="btn btn-info btn-lg">
							<i class="fa fa-windows" style="font-size:40px;"></i>
						</a>
						
					</center>
					
				</div>
				
			</div>
		</div>
		
	</footer>
	
	
	
</template>