<!-- 
#
# TEMPLATE: GROUPS
#
# -->
<template name="group_projects_details"> 

	{{> preloader}}
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
				
					<!-- GROUPS LIST MANAGER -->
					<div class="col-lg-8">
					
						<div class="hpanel">
							<div class="panel-body">
								
								<div class="row">
									<div class="col-md-9">
									
										<a href="/group/{{group_slug}}/desk" class="btn btn-primary">
											<i class="fa fa-id-card" aria-hidden="true"></i> Desk
										</a>
										<a href="/group/{{group_slug}}/projects" class="btn btn-info">
											<i class="fa fa-briefcase" aria-hidden="true"></i> Projects
										</a>
										<a href="/group/{{group_slug}}/people" class="btn btn-primary">
											<i class="fa fa-address-book-o" aria-hidden="true"></i> People
										</a>
										<a href="/group/{{group_slug}}/articles" class="btn btn-primary">
											<i class="fa fa-file-text-o" aria-hidden="true"></i> Articles
										</a>
										
										<br />
										<br />
										<a href="/group/{{group_slug}}/projects" class="btn btn-sm btn-primary">
											<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Return to All Projects
										</a>
										
									</div>
									
									<div class="col-md-3">
									
										<form class="search_start">
											<div class="input-group">
												<input class="form-control search_value" type="text" placeholder="Search...">
												
												<div class="input-group-btn ">
													<button type="submit" class="btn btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
												
											</div>
											
											<!-- <div class="search_clear btn btn-primary">Clear Results</div> -->
										</form>
									
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="hpanel hblue">
							<div class="panel-body">
								
								<div class="row">
									<div class="col-sm-8">
										<h4>
											<a href=""><i class="fa fa-folder-open-o" aria-hidden="true"></i> Website project (63%)</a>
										</h4>
										<p>
											<small>
												<b>Start Date:</b> July 15th, 2017
											</small>
											<small>
												<b>Due By:</b> July 20th, 2017
											</small>
										</p>
										<p>
											Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
											sometimes by accident, sometimes on purpose (injected humour and the like).
										</p>
										
										<div class="progress m-t-xs full progress-striped active">
											<div style="width: 62%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class=" progress-bar progress-bar-info">
											</div>
										</div>
										
										
										<div class="btn btn-sm btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Add Task List</div>
										<p>&nbsp;</p>
										
										<div class="hpanel hblue">
											<div class="panel-body">
											
												<button class="btn btn-xs btn-primary btn-outline pull-right">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
												</button>
											
												<h4><i class="fa fa-list-alt" aria-hidden="true"></i> This is a test (98%)</h4>
												
												<p>
													<small>
														<b>Start Date:</b> July 15th, 2017
													</small>
													<small>
														<b>Due By:</b> July 20th, 2017
													</small>
												</p>
												
												<p>
													Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
													sometimes by accident, sometimes on purpose (injected humour and the like).
												</p>
												
												<div class="progress m-t-xs full progress-small  progress-striped active">
													<div style="width: 99%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class=" progress-bar progress-bar-info">
													</div>
												</div>
												
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox" checked>
														<label>Build interface for project management</label>
													</div>
												</p>
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox">
														<label>Build interface for groups</label>
													</div>
												</p>
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox">
														<label>Needs a button container</label>
													</div>
												</p>
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox">
														<label>Hook up Posts data</label>
													</div>
												</p>
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox">
														<label>Complete database work</label>
													</div>
												</p>
												<p>
													<div class="checkbox checkbox-single checkbox-success">
														<input type="checkbox">
														<label>Publish to server</label>
													</div>
												</p>
										
											</div>
										</div>
										
									</div>
									<div class="col-sm-4 project-info">
									
										<button class="btn btn-xs btn-primary btn-outline pull-right">
											<i class="fa fa-times" aria-hidden="true"></i> Delete
										</button>
										<button class="btn btn-xs btn-primary btn-outline pull-right">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
										</button>
										<button class="btn btn-xs btn-primary btn-outline pull-right">
											<i class="fa fa-user-plus" aria-hidden="true"></i> Assign
										</button>
										
										<br />
										
										<hr />
										<div class="project-people">
											<img alt="logo" class="img-circle" src="images/a8.jpg" style="width:32%">
											<img alt="logo" class="img-circle" src="images/a2.jpg" style="width:32%">
											<img alt="logo" class="img-circle" src="images/a1.jpg" style="width:32%">
											<img alt="logo" class="img-circle" src="images/a4.jpg" style="width:32%">
											<img alt="logo" class="img-circle" src="images/a6.jpg" style="width:32%">
										</div>
										
										<hr />
										<div>
											<p>
												<span class="label label-info">Added</span> Task Example
												<br />
												<small>Tues March 25 at 11:54 pm</small>
											</p>
											<p>
												<span class="label label-success">Completed</span> Task Example
												<br />
												<small>Tues March 25 at 11:54 pm</small>
											</p>
											<p>
												<span class="label label-info">Added</span> Task Example
												<br />
												<small>Tues March 25 at 11:54 pm</small>
											</p>
											
										</div>
										
									</div>
								</div>
								
								
							</div>
							
							<!-- CHATS -->
							<div class="panel-footer">
							
								{{#each desk_comments}}
									<div class="social-talk">
										<div class="media social-profile clearfix">
											<a class="pull-left" href="/people/{{slug owner_username}}">
												<a href="/people/{{slug owner_username}}">
													<img src="{{owner_avatar}}" alt="profile-picture">
												</a>
											</a>
											<div class="media-body">
												<span class="font-bold">
													<span class="capitalize">
														<a href="/people/{{slug owner_username}}">
															{{owner_fullname}}
														</a>
													</span>
												</span>
												<small> <time class="text-muted timeago" datetime="{{timeAgo}}">{{timeAgo}}</time></small>
												<div class="social-content">
													{{content}}  
												</div>
											</div>
										</div>
									</div>
								{{/each}}	
								
								<div class="social-form">
									<form name="comment" class="comment" autocomplete="off">
										<input type="hidden" name="parent_id" value="{{_id}}" />
										<input type="text"   name="content" class="form-control" placeholder="Your comment" />
									</form>
								</div>
								
							</div>
							<!-- CHATS -->
							
						</div>
					</div>
					{{> sidebar_right}}
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->

</template>

