<!-- 
#
# TEMPLATE: GROUPS
#
# -->
<template name="group_desk"> 

	{{> preloader}}
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
				
					<!-- GROUPS LIST MANAGER -->
					<div class="col-lg-8">
					
						<div class="hpanel">
							<div class="panel-body">
								
								<div class="row">
									<div class="col-md-9">
									
										<a href="/group/{{group_slug}}/" class="btn btn-info">
											<i class="fa fa-id-card" aria-hidden="true"></i> Desk
										</a>
										<a href="/group/{{group_slug}}/projects" class="btn btn-primary">
											<i class="fa fa-briefcase" aria-hidden="true"></i> Projects
										</a>
										<a href="/group/{{group_slug}}/people" class="btn btn-primary">
											<i class="fa fa-address-book-o" aria-hidden="true"></i> People
										</a>
										<a href="/group/{{group_slug}}/articles" class="btn btn-primary">
											<i class="fa fa-file-text-o" aria-hidden="true"></i> Articles
										</a>
										
									</div>
									
									<div class="col-md-3">
									
										<form class="search_start">
											<div class="input-group">
												<input class="form-control search_value" type="text" placeholder="Search...">
												
												<div class="input-group-btn ">
													<button type="submit" class="btn btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
												
											</div>
											
											<!-- <div class="search_clear btn btn-primary">Clear Results</div> -->
										</form>
									
									</div>
								</div>
								
							</div>
						</div>
						
						
						{{#each group_desk}}
							
							<div class="col-md-12 social-board">
								<div class="row">
									
									<!-- USER CARD  -->
									<div class="hpanel hgreen">
										<div class="panel-body">
											
											<div class="col-md-4">
												
												<center>
													{{#if group_image}}
														<img alt="logo" class="img-circle m-b img-responsive" src="{{group_image}}" width="100%" />
													{{else}}
														<img alt="logo" class="img-circle m-b img-responsive" src="/images/meeting-default.jpg" width="100%" />
													{{/if}}
												</center>
												
												<center>
													<h1>
														<b>{{the_group_title}}</b>
													</h1>
												</center>
												
											</div>
											
											<div id="aboutUser" class="col-md-4">
												{{{the_group_content}}}
											</div>
											
											<div class="col-md-4">
												
												<div class="map-container">
													{{> googleMap name="profileMap" options=mapOptions}}
												</div>
												
												<h3>{{the_group_location}}</h3>
												<h3>{{the_group_phone}}</h3>
												<h3>{{the_group_email}}</h3>
												
											</div>
												
											
										</div>

									</div>
									<!-- USER CARD -->  
									
									
									<!-- NEW POST -->				
										{{#if isMember}}
											<div class="hpanel hblue">
												<div class="panel-body">
												
													<div class="col-xs-12 col-md-2">
														<center>
															<img alt="logo" class="img-circle m-b" src="{{currentUser.profile.avatar}}" width=100 height=100 />
														</center>
													</div>
													
													<div class="col-xs-12 col-md-10">
													 
														<input type="hidden" name="group_id" id="group_id" value="{{the_group_id}}" />
															
														<textarea required class="form-control newPostContent" name="newPostContent" placeholder="Leave something on this desk" style="width:100%; resize: none; font-size:22px;"></textarea>
														
														<input id="fileInput" name="fileInput" class="form-control input-md"  type="file" multiple style="display:none;">		
														
														<div class="btn btn-outline btn-primary desk_add_media" onClick="$('#fileInput').click();">
															<i class="fa fa-camera" aria-hidden="true"></i>
														</div>											
														
														<button type="submit" class="btn btn-success group_submit_new_post">
															<i class="fa fa-file" aria-hidden="true"></i> Post
														</button>
														
														<br />
														
														<div class="fileInput_count"></div>
														<script>
														
															$("input[name=fileInput]").change(function() {
																var names = [];
																for (var i = 0; i < $(this).get(0).files.length; ++i) {
																	names.push($(this).get(0).files[i].name + ", ");
																}
																$(".fileInput_count").html(names);
															});
														
														</script>
															
													</div>
												</div>
											</div>
									
											<!-- POSTS BY GROUP -->
											<div id="posts">
											
												{{#each group_desk_posts}}
													
													<div class="hpanel hblue">
														<div class="panel-body">
															<div class="col-xs-12 col-md-2">
															
																<center>
																	<a class="" href="/people/{{slug owner_username}}">
																		{{#if HasOwnerAvatar}}
																			<img alt="logo" class="img-circle" src="{{owner_avatar}}" width=100 height=100 />
																		{{else}}
																			<img alt="logo" class="img-circle" src="/images/default.jpg" width=100 height=100 />
																		{{/if}}
																	</a>
																	<br />
																	<div class="media-body">
																		<h5 class="m-t-md">
																			<span class="capitalize">{{owner_fullname}}</span>
																		</h5>
																		<small> <time class="text-muted timeago" datetime="{{timeAgo}}">{{timeAgo}}</time></small>
																	</div>
																</center>
															
															</div>
															
															<div class="col-xs-12 col-md-10 well" style="font-size:22px;">
																	{{content}}
															</div>
															
															<div class="col-xs-12 col-md-10" style="font-size:22px;">
																<div class="lightBoxGallery">
																	{{#each group_desk_posts_attachment}}
																		<a href="{{content}}" data-gallery >
																			<img src="{{content}}"  style="width:100%;"/>
																		</a>
																	{{/each}}
																</div>
															</div>
															
														</div>
														
														<!-- CHATS -->
														<div class="panel-footer">
														
															{{#each group_desk_posts_comments}}
																<div class="social-talk">
																	<div class="media social-profile clearfix">
																		<a class="pull-left" href="/people/{{slug owner_username}}">
																			<img src="{{owner_avatar}}" alt="profile-picture">
																		</a>
																		<div class="media-body">
																			<span class="font-bold">
																				<span class="capitalize">
																					<a href="/people/{{slug owner_username}}">
																						{{owner_fullname}}
																					</a>
																				</span>
																			</span>
																			<small> <time class="text-muted timeago" datetime="{{timeAgo}}">{{timeAgo}}</time></small>
																			<div class="social-content">
																				{{content}}  
																			</div>
																		</div>
																	</div>
																</div>
															{{/each}}	
															
															<div class="social-form">
																<form name="comment" class="comment" autocomplete="off"> 
																	<input type="hidden" name="parent_id" value="{{_id}}" />
																	<input type="text"   name="content" class="form-control" placeholder="Your comment" />
																</form>
															</div>
															
														</div>
														<!-- CHATS -->
														
													</div>
													
												 {{/each}}
											</div>
											<!-- POSTS BY COLLEAGUES -->
										
										{{else}}
										
											To view this Group Desk you must be a colleague.
										
										{{/if}}

								</div>
							</div>
							
						{{/each}}
						
						
					</div>
					{{> sidebar_right}}
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->

</template>

