<!-- 
#
# TEMPLATE: SCREEN
#
# -->
<template name="screen">

	{{> head}}

	{{> yield region="content"}}
	
	{{> footer}}

</template> 

<template name="head">


		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- OneSignal -->
		<link rel="manifest" href="/onesignal_manifest.json">
		<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async ></script>
		<script>
			  var OneSignal = window.OneSignal || [];
				OneSignal.push(["init", {
				  appId: "ba62f6a5-2cce-41c7-8139-b4026c6b1daf",
				  allowLocalhostAsSecureOrigin: true,
				  subdomainName: 'skyroomsio',
				  httpPermissionRequest: {
					enable: true
				  },
				  autoRegister: true, /* Set to true to automatically prompt visitors */
				  notifyButton: {
					  enable: true /* Set to false to hide */
				  },
				  modalPrompt: true
				}]);
		</script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


</template>


<!-- 
#
# TEMPLATE: 404
#
# -->
<template name="not_found">
	
	<div class="back-link">
		<a href="index.html" class="btn btn-primary">Back to Dashboard</a>
	</div>
	<div class="error-container">
		<i class="pe-7s-way text-success big-icon"></i>
		<h1>404</h1>
		<strong>Page Not Found</strong>
		<p>
			Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.

		</p>
		<a href="index.html" class="btn btn-xs btn-success">Go back to dashboard</a>
	</div>

	{{> footer}}
	
</template>


<!-- 
#
# TEMPLATE: PRELOADER
#
# -->
<template name="preloader">

	<div class="splash"> 
		<div class="color-line"></div>
		<div class="splash-title">
			<center>
				<img class="landing-logo" src="/images/skyrooms-loader.png" height="80px" />
				<div class="loader">Loading...</div>
			</center>
		</div> 
	</div>


</template>


<!-- 
#
# TEMPLATE: FOOTER
#
# -->
<template name="footer">


	<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
	</div>

	<!-- Local script for menu handle -->
	<!-- It can be also directive -->
	<script>
		/*$(document).ready(function () {

			// Page scrolling feature
			$('a.page-scroll').bind('click', function(event) {
				var link = $(this);
				$('html, body').stop().animate({
					scrollTop: $(link.attr('href')).offset().top - 50
				}, 500);
				event.preventDefault();
			});

			$('body').scrollspy({
				target: '.navbar-fixed-top',
				offset: 80
			});

		});
		*/
	</script>
	
</template>


