<template name="sidebar_right">

	{{#if show_ads}}
	<div class="col-md-4">
								
		<div class="col-lg-12">
			<div class="hpanel hblue">
				<div class="panel-body">
				
					<center>
				
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Sky2: Large Rectangle -->
						<ins class="adsbygoogle"
							 style="display:inline-block;width:336px;height:280px"
							 data-ad-client="ca-pub-5191331981474706"
							 data-ad-slot="2816270978"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						
					</center>

				</div>
			</div>
		</div>
		
		<div class="col-lg-12">
			<div class="hpanel hblue">
				<div class="panel-body">
				
					<center>
					
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Sky2: Skyscraper -->
						<ins class="adsbygoogle"
							 style="display:inline-block;width:300px;height:600px"
							 data-ad-client="ca-pub-5191331981474706"
							 data-ad-slot="1339537771"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						
					</center>
					
				</div>
			</div>
		</div>
		
		<div class="col-lg-12">
			<div class="hpanel hblue">
				<div class="panel-body">
				
					<center>
					
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Sky2: Large Rectangle -->
						<ins class="adsbygoogle"
							 style="display:inline-block;width:336px;height:280px"
							 data-ad-client="ca-pub-5191331981474706"
							 data-ad-slot="2816270978"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						
					</center>
					
				</div>
			</div>
		</div>
		
	</div>
	{{else}}
	<div class="col-md-4">
	
		<div class="col-lg-12">
			<div class="hpanel hblue">
				<div class="panel-body">
				
					<center>
					
						<h1>LOCALHOST</h1>
						
					</center>
					
				</div>
			</div>
		</div>
	
	</div>
	{{/if}}
			
</template>