<!-- 
#
# TEMPLATE: colleagues
#
# -->
<template name="colleagues">

	{{> preloader}}
	
	<body class="fixed-sidebar">

		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">	
		
			<div class="content animate-panel">
				<div class="row">
					
						<div class="col-md-8">
						
							<div class="hpanel">
							<div class="panel-body">
							
								<div class="row">
									<div class="col-md-9">
									
										<a href="/colleagues" class="btn btn-info">
											<i class="fa fa-address-book-o" aria-hidden="true"></i> Colleagues
										</a>
										<a href="/people" class="btn btn-primary">
											<i class="fa fa-address-book-o" aria-hidden="true"></i> All People
										</a>
										
									</div>
									
									<div class="col-md-3">
									
										<form class="search_start">
											<div class="input-group">
												<input class="form-control search_value" type="text" placeholder="Search..." />
												
												<div class="input-group-btn ">
													<button type="submit" class="btn btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
												
											</div>
											
											<!-- <div class="search_clear btn btn-primary">Clear Results</div> -->
										</form>
									
									</div>
								</div>
								
							</div>
						</div>
							
							<center class="show_loader" style="display:none;">
								<div class="loader"></div>
							</center>
							
							<div class="row">
								<div class="col-md-12">
									<h4 class="text-white">Your Colleagues</h4>
								</div>
							</div>
							
							<div class="row people_container">
							{{#each people}}
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="hpanel hgreen">
										<div class="panel-body">
											
											<a href="/people/{{profile.username}}">
												{{#if profile.avatar}}
													<center>
														<img alt="logo" class="img-circle m-b img-responsive" src="{{profile.avatar}}" width="100%" />
													</center>
												{{else}}
													<center>
														<img alt="logo" class="img-circle m-b img-responsive" src="/images/default.jpg" width="100%" />
													</center>
												{{/if}}
											</a>
											
											<h2>
												<center>
													<b>
													<a href="/people/{{profile.username}}">
														{{profile.name_first}}
														<br />
														{{profile.name_last}}
													</a>
													</b>
												</center>
											</h2>
											<hr />
											
											<!-- View Desk -->
											<a href="/people/{{profile.username}}"  class="btn btn-primary btn-block btn-sm">
												<i class="fa fa-id-card" aria-hidden="true"></i> View Desk
											</a>
											
											{{#if noColleagueStatus "notFound"}}
												<form class="btn-form-top">
													<input type="hidden" name="user_id" value="{{_id}}" />
													<input type="hidden" name="action" value="add" />
													<button type="submit" class="btn btn-info btn-block btn-sm">
														<i class="fa fa-handshake-o" aria-hidden="true"></i> Add Colleague
													</button>
												</form>
											{{else}}
												
												{{#each colleagueStatus}}
												
													{{#if checkStatus "accepted"}}
													
														<button type="submit" class="btn btn-block btn-sm btn-info">
															<i class="fa fa-phone-square" aria-hidden="true"></i> Call
														</button> 
														
														<button type="submit" class="btn btn-block btn-sm btn-info">
															<i class="fa fa-commenting-o" aria-hidden="true"></i> Message
														</button> 
													
														<!--
														<form>
															<input type="hidden" name="post_id" value="{{_id}}" />
															<input type="hidden" name="owner_id" value="{{owner_id}}" />
															<input type="hidden" name="action" value="remove" />
															<button type="submit" class="btn btn-danger btn-block btn-sm">
																<i class="fa fa-handshake-o" aria-hidden="true"></i> Remove Colleague
															</button> 
														</form>
														-->
													{{/if}}
													
													{{#if checkStatus "waiting"}}
														<form class="btn-form-top">
															<input type="hidden" name="post_id" value="{{_id}}" />
															<input type="hidden" name="parent_id" value="{{parent_id}}" />
															<input type="hidden" name="owner_id" value="{{owner_id}}" />
															<input type="hidden" name="action" value="cancel" />
															<button type="submit" class="btn btn-warning btn-block btn-sm">
																<i class="fa fa-handshake-o" aria-hidden="true"></i> Cancel Request
															</button>
														</form>
													{{/if}}
													
													{{#if checkStatus "request"}}
														<form class="btn-form-top">
															<input type="hidden" name="post_id" value="{{_id}}" />
															<input type="hidden" name="parent_id" value="{{parent_id}}" />
															<input type="hidden" name="title" value="{{title}}" />
															<input type="hidden" name="action" value="accept" />
															<button type="submit" class="btn btn-success btn-block btn-sm">
																<i class="fa fa-handshake-o" aria-hidden="true"></i> Accept
															</button>
														</form>
													{{/if}}
													
												{{/each}}
												
											{{/if}}
										
										
											
										</div>
										
									</div>
								</div> 
							{{/each}}
							</div>
						</div>
						
						<!-- ADS CONTAINER -->
						{{> sidebar_right}}
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
	
	</body>

</template>

