<!-- 
#
# TEMPLATE: Meetings
#
# -->
<template name="meetings">

	{{> preloader}}
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
				
					<div class="col-md-8">
						
						<div class="hpanel">
							<div class="panel-body">
							
								<div class="row">
									<div class="col-md-9">
									
										<a href="" class="btn btn-info">
											My Meetings
										</a>
										<a href="/meetings/manage" class="btn btn-primary">
											Create New Meeting
										</a>
										
									</div>
									
									<div class="col-md-3">
									
										<form class="search_start">
											<div class="input-group">
												<input class="form-control search_value" type="text" placeholder="Search...">
												
												<div class="input-group-btn ">
													<button type="submit" class="btn btn-default">
														<i class="fa fa-search"></i>
													</button>
												</div>
												
											</div>
											
											<!-- <div class="search_clear btn btn-primary">Clear Results</div> -->
										</form>
									
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
						
							{{#each meetings}}
								<div class="col-lg-3">
									<div class="hpanel hgreen">
										<div class="panel-body">
											
											<center>
												{{#if meta_meeting_image}}
													{{#with meta_meeting_image}}
														<div class="imageUploadPreview imageUploadPreview">
															<img alt="logo" class="img-circle m-b m-t-md" src="{{content}}"  style="height:205px; width:205px;" />
														</div>
													{{/with}}
												{{else}}
												
													<div class="imageUploadPreview imageUploadPreview">
														<img alt="logo" class="img-circle m-b m-t-md" src="/images/meeting-default.jpg"  style="height:205px; width:205px;" />
													</div>
												
												{{/if}}
											</center>
											
											<h3>
												<a href="/meet/{{owner_username}}/{{slug title}}">
													{{title}}
												</a>
											</h3>
											<p>
												{{content}}
											</p>
											
											<a href="/meet/{{owner_username}}/{{slug title}}" class="btn btn-info btn-block btn-sm">
												<i class="fa fa-handshake-o" aria-hidden="true"></i> Enter Meeting Room
											</a>
											
											<a href="/meetings/manage/{{_id}}" class="btn btn-warning btn-block btn-sm">
												<i class="fa fa-handshake-o" aria-hidden="true"></i> Edit Meeting
											</a>
											
											<div class="btn btn-primary btn-sm btn-block a2a_dd" data-a2a-url="https://www.skyrooms.io/meet/{{owner_username}}/{{slug title}}" data-a2a-title="{{currentUser.profile.username}} - SkyRooms">
												<i class="fa fa-share-alt" aria-hidden="true"></i> Share
											</div>
											<script async src="https://static.addtoany.com/menu/page.js"></script>
											
											
										</div>
										
									</div>
								</div>
							{{/each}}
							
						</div>
					
					</div>
					
					{{> sidebar_right}}
					
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->

</template>

