<!-- 
#
# TEMPLATE: desk
#
# -->
<template name="test">

	{{> preloader}}
	
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">
				
					<div class="col-md-8">
						
						<div id="notification_button" class="btn btn-lg btn-info">Send Test Notification</div>
						
					</div>
					
					<div class="col-md-8">
						
						<div id="sound_test" class="btn btn-lg btn-info">Sound Test #1</div>
						<div id="sound_file"></div>
						
					</div>
					
					<div class="col-md-8">
						
						<div id="ringtest" class="btn btn-lg btn-info">Ring Test</div>
						
					</div>
					
					<script>
										
					
					</script>
					

					{{> sidebar_right}}
				
				</div>	
			</div>			
		</div>
		<!-- Main Wrapper -->
	

</template>

