<!-- 
#
# TEMPLATE: deskedit
#
# -->
<template name="deskedit">

	{{> preloader}}
	
	<body class="fixed-sidebar">
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">

					<div class="col-md-8">
						
						<div class="hpanel hgreen">
							<div class="panel-body">
								
								<div class="row">
									
									<div class="col-lg-4">
										
										<center>
										
											<div class="imageUploadPreview imageUploadPreview">
												<img alt="logo" class="img-circle m-b m-t-md" src="{{currentUser.profile.avatar}}"  width="100%">
											</div>
											
											<input id="fileInput" name="fileInput" class="form-control input-md"  type="file" />
											
											<input type="text" class="form-control update_name_first" name="firstName" value="{{currentUser.profile.name_first}}" placeholder="First name">
											
											<input type="text" class="form-control update_name_last" name="lastName" value="{{currentUser.profile.name_last}}" placeholder="Last name">
										
											<hr />
										
											<div class="desk_save_all btn btn-lg btn-block btn-success">
												<i class="fa fa-floppy-o" aria-hidden="true"></i> Save All
											</div>
											
										</center>
										
										
									</div>
									
									<div class="col-lg-4">
										<h2>About Me</h2>
										<p>Use this oppourtunity to briefly tell people about yourself and what you do. It is public to EVERYONE on the internet.</p>
										
										<textarea id="user_about" cols="40" rows="22" style="width:100%;" >{{currentUser.profile.about}}</textarea>
										<script>
											
											setTimeout(function(){
												// TinyMCE has to be done this way for compatibilty reasons. :/
												tinymce.EditorManager.editors = []; //we need to remove the old instances. 
												
												//Set "About" section to a TinyMCE editor.
												tinymce.init({
												  selector: 'textarea#user_about',
												  element_format: "html",
												  remove_linebreaks : true,
												  convert_newlines_to_brs: true,
												  skin_url: '/packages/teamon_tinymce/skins/lightgray',
												  menubar: false,
												  statusbar: false,
												  toolbar: 'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist',
												  maxLength : 600
												});
											},1000);
											
										</script>
									</div>
									
									<div class="col-lg-4">
										<section id="map">
											
											<div class="pull-right text-muted font-bold m-b-xs">
												{{currentUser.profile.location_name}}
											</div>
											
											<div class="map-container">
												{{> googleMap name="editMap" options=mapOptions}}
											</div>
											
										</section>
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
					<!-- Main Wrapper -->
					
					<!--Error Modal-->
					<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title">Error</h4>
								</div>
								<div class="modal-body">
									All fields are required.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
								</div>
							</div>
						</div>
					</div>
				
			
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
	
	</body>
</template>

