<!-- 
#
# TEMPLATE: deskedit
#
# -->
<template name="deskedit">

	{{> preloader}}
	
	<body class="fixed-sidebar">
		
		<!-- Navigation -->
			{{> account_navigation}}
		<!-- Navigation -->

		<!-- Main Wrapper -->
		<div id="wrapper">		
			<div class="content animate-panel">
				<div class="row">

					<div class="col-md-8">
						
						<div class="hpanel hgreen">
							<div class="panel-body">
								
								<div class="row">
									
									<div class="col-lg-4">
										
										<center>
										
										
											<div class="imageUploadPreview imageUploadPreview">
												<img alt="logo" class="img-circle m-b m-t-md" src="{{currentUser.profile.avatar}}"  width="100%">
											</div>
											
											
											
											<div>
												{{#with currentUpload}}
													Uploading <b>{{file.name}}</b>:
													<span id="progress">{{progress.get}}%</span>
												{{else}}
													<input id="fileInput" name="fileInput" class="form-control input-md"  type="file" />
												{{/with}}
											</div>
											
											<hr />
											
											<h3>
												<a href="" class="font-uppercase">{{currentUser.profile.username}}</a>
											</h3>
											
											<div class="col-md-6">
												<input type="text" class="form-control" name="firstName" value="{{currentUser.profile.name_first}}" placeholder="First name">
											</div>
											<div class="col-md-6">
												<input type="text" class="form-control" name="lastName" value="{{currentUser.profile.name_last}}" placeholder="Last name">
											</div>
											
		
										</center>
										
										
									</div>
									
									<div class="col-lg-4">
										<h2>About You</h2>
										<textarea id="aboutUser" cols="40" rows="15" ></textarea>
									</div>
									
									<div class="col-lg-4">
										<section id="map">
										<button id="update_location" type="button" class="btn btn-primary btn-xs">Update Location</button>
										<div class="pull-right text-muted font-bold m-b-xs">{{currentUser.profile.locName}}</div>
										<div class="map-container">
											{{> googleMap name="editMap" options=mapOptions}}
										</div>
									</section>
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
					<!-- Main Wrapper -->
					
					<!--Error Modal-->
					<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title">Error</h4>
								</div>
								<div class="modal-body">
									All fields are required.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
								</div>
							</div>
						</div>
					</div>
				
			
				</div>
			</div>
		</div>
		<!-- Main Wrapper -->
	
	</body>
</template>

