.map-container {
  width: 800px;
  max-width: 100%;
  height: 200px;
}

#ui-datepicker-div {
	background-color: white;
	border-radius: 10px;
}

.ui-datepicker-calendar {
    display: none;
}

.checkbox {
	margin-top: 0px!important;
}

.edit, .delete {
	margin: 0px 10px!important;
}

.mce-statusbar {
    display: none!important;
}